html,
body {
  padding: 0;
  margin: 0;
}

.general{
  height: 100vh;  
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.homepage{
  position: fixed;
  position:relative; 
  text-align: center;
  bottom: 200px;  color:rgb(223, 213, 213);
  font-size:30px;
}

.homepage-about{
  color:rgb(223, 213, 213);
  position: fixed;
  position:relative; 
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.homepage-sub{
  color:rgb(223, 213, 213);
  position:relative; 
  text-align: left;
  width: 900px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:30px;
}